body{font-size: 20px;
      background: #7eebbc;
      padding: 0;
      /*background:url("Imagenes/FondoApple");*/

}
h1,h3,h4,h5,h6{
      color:#486a56;


}
h1{
  font-size: 50px;

}
h2{
  color: #629175;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.contenedor1{
      left: 0;
      padding: 10px 60px 0 60px;
      width: 90%;
      max-width: 1000px;
      margin: auto;
      overflow: hidden;
}

/*Empieza el header*/
header::before{
    content: "";
    margin-bottom: 80px;
    display: block;


}

/*Esta es la barra de navegaci칩n*/

nav{
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #4bc091;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 black;
    position: fixed;
    z-index: 100;
    /*transition: ease-in-out 0.5s;*/
}
.nav{
    justify-content: space-between;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 5%;
}
.nav .logo{
      height: 80px;

}
.nav .logo img{
      height: 100%;
      vertical-align: top;
      cursor: pointer;
      transition: .25s ease-in-out;
}
.nav .logo img:hover{
      height: 105%;


}
.nav .enlacesNav{
    font-weight: 300;
    margin-right: 10%;
}
.nav .enlacesNav a{
    color: #ddffda;

    text-decoration: none;
    margin-left: 5px;
    padding: 28px 10px 26px 10px;
    transition: .2s ease-in-out;
  }
  .nav .enlacesNav a:hover{
      background:  #ddffda;
      color: #4bc091;
      border-bottom: 3px #4bc091 solid;
      width: 58px;
  }
.nav .hamburguesa{
  width: 80px;
  height: 80px;
  background-color: transparent;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 1px 1px 1px 1px #317d5d;
  border-radius: 20px;
  display: none;
  /*transition: color 0.5s ease-in;*/
}
.nav .hamburguesa img{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 80px;

    margin: 25% 10%;
}
/*Fin de la barra de navegaci칩n*/
.contenidoHeader{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenidoHeader img{
    width: 550px;
    animation: ease-in animat 1s;
}

@keyframes animat {
    0%{transform: scale(0);}
    100%{transform: scale(1);}

}
.textoHeader{
    margin: 0 0 0 30px;


}
.contenidoHeader p{
    font-weight: 100px;
    margin-top: 14px;
    color: #303091;

}
/* este es un boton listo
.contenidoHeader a{
    margin: 28px 0 0 0 ;
    width: 150px;
    display: inline-block;
    background: #ABF;
    text-align:center;
    color: #DEF;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 7px;
    box-shadow: 0 8px 32px #1F2;
}*/
.titulo{
    font-size: 55px;

}
/*Aqui acaba el header*/

/*Aca empieza el Cuerpo1*/

.Cuerpo{
    background: #ddffda;

}
.Cuerpo>a{
      font-family: sans-serif;
      margin: 0 0 2% 40% ;
      width: 250px;
      display: inline-block;
      background: transparent;
      text-align:center;
      color: #315b49;
      padding: 10px;
      border: 2px solid #315b49;
      text-decoration: none;
      font-size: 24px;
      border-radius: 7px;
      transition: color .5s ease-in-out;
}
.Cuerpo>a:hover{
      color: #ddffda;
      background: #315b49;

}
.Cuerpo h3{
    margin-top: 0;
    text-align: center;

}
.Cuerpo .contenedorArticulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Cuerpo h4{
    margin: 10px;
    color: #1c3429;
}
.Cuerpo .contenedorArticulo .articulo{
    width: 22.5%;
    height: 100%;
    background: #68c29b;
    margin-bottom: 30px;
    margin-right: 10px;
    border-radius: 15px;
    padding: 0 ;
    transition: 0.5s;
}
.Cuerpo .contenedorArticulo .articulo:hover{

  box-shadow: 0px 25px 30px 0 rgba(33,62,49,.5);
}
.Cuerpo .contenedorArticulo .articulo img{
    width: 100%;
    height: 35%;
    border-radius: 15px 15px 0 0px;
    display: inline-block;
}
.Cuerpo .contenedorArticulo .articulo p{
      font-family: sans-serif;
      font-style: italic;
      color: #2c4134;
      font-weight: 300;
      padding: 0 5px;
      font-size: 15px;

}
.Cuerpo .contenedorArticulo .articulo a{
      bottom: 0;
      margin-left:0;
      color:#adffce;
      text-decoration: none;
      background-color: #649477;
      width: 100%;
      display: inline-block;
      text-align:center;
      color: #DEF;
      padding: 15px 0px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 0 0 7px 7px;
      /*box-shadow: 0 2.5px 15px #26382d;
*/}
.Cuerpo .contenedorArticulo .articulo a:hover{
    transition: 1s;
    font-size: 20px;
    font-weight: bold;
    color: #b8f2ab;
}
/*Aqui acaba el Cuerpo*/

/*Aqui inicia el Cuerpo2*/

.Cuerpo2{
      /*display: flex;
      justify-content: space-between;
      width: 100%;
      height: 600px;
      align-items: baseline;
*/

}
.Cuerpo2 .titulo{
      width: 100%;
       margin:10px 0;
}

.Cuerpo2 .textoCuerpo2{
      height: 100%;
      margin: 0;
      justify-content: space-between;


}


.Cuerpo2 .textoCuerpo2 p{
      width: 100%;
      display: flex;

  }

.Cuerpo2 .textoCuerpo2 p img{
      width: 60%;
}

/*Aqui acaba el Cuerpo2*/

/* Aca empieza el Cuerpo3*/

.Cuerpo3{
    background: rgba(167,227,180,0.9)/*#b2f2c0*/;
    padding-top: 20px;
    display: flex;
}
.Cuerpo3 .textoCuerpo3{
    justify-content: space-evenly;
    display: flex;
}
.Cuerpo3 .textoCuerpo3 .datos{
    width: 45%;
    justify-content: space-evenly;


}
.Cuerpo3 .textoCuerpo3 .datos .Datos{
    cursor: pointer;
    width: 80%;
    background: transparent/*#add6c7*/;
    padding: 2% 5% 2.5% 5%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px white solid;
}
.Cuerpo3 .textoCuerpo3 .datos .Datos h5{
      margin: 0;
      padding: 1%;
      font-size: 35px;
      font-family: serif;
}
.Cuerpo3 .textoCuerpo3 .datos .Datos p{
      font-size: 14px;
      font-family: sans-serif;
      margin: 0;
      text-align: justify;

}
.Cuerpo3 .textoCuerpo3 .datos2{
      width: 50%;


}
.Cuerpo3 .textoCuerpo3 .datos2 h4{
      width: 95%;
      font-size: 25px;
      font-family: sans-serif;
      font-weight: 100;
}
.Cuerpo3 .textoCuerpo3 .datos2 p{
      width: 95%;
      margin-left: 2.5%;
      font-family: cursive;
      color: #486a56;
      font-weight: 100;
      text-align: justify;
}
.Cuerpo3 .textoCuerpo3 .datos2 img{
    width: 90%;
    margin: 3% 5% 2% 5%;
    border-radius: 30px;
}
.Cuerpo3 .textoCuerpo3 .datos2 a{
      width: 30%;
      display: block;
      padding: 3% 4%;
      border-radius: 25px;
      background-color: #4f625b;
      text-align: center;
      color: #abd4c5;
      text-decoration: none;
      font-family: fantasy;
      font-size: 20px;
      margin-left: 35%;
}
.Cuerpo3 .textoCuerpo3 .datos2 a:hover{
      font-weight: bold;
      background-color: rgba(165,199,185,0.5)/* #abd4c5*/ ;
      color: #4f625b;
      transition:  ease-in-out .5s;
      padding: 3.5% 4.5%;
      box-shadow: 0 3px 3px black;
      font-size: 22px;
}
/*Aca termina el Cuerpo3*/


 /*Aca empieza el Cuerpo 4*/
.Cuerpo4{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
}
.Cuerpo4 img{
      width: 50%;
      height: 500px;
      border-radius: 50%;
      transition: 1.5s ease-in-out;
}
.Cuerpo4 img:hover{
      border-radius: 0;



}
.Cuerpo4 .cajaCuerpo4{
      margin: 0 2% 2% 5%;
      width: 40%;


}
.Cuerpo4 .cajaCuerpo4{

}
.Cuerpo4 .cajaCuerpo4 h5{
      font-size: 25px;
      width: 90%;
      background: rgba(227,227,227);
      border: 3px solid transparent;
      border-radius: 15px;
      box-shadow: 0 2px 2px black;
      padding: 1% 2% 2% 5%;
      margin-bottom: 1%;
      vertical-align: center;
      transition: 0.3s ;
}
.Cuerpo4 .cajaCuerpo4 h5:hover{
  transform: translateX(15px);

}


.Cuerpo4 .cajaCuerpo4 img{
      width: 30px;
      height: auto;
      padding-top: 2%

}
/*Aca termina el Cuerpo 4*/

/*Aca empieza el Footer*/
footer{

    background: /*rgba(0,0,0,0.9)*/ #ddffda;
    padding: 0 3% 3% 3%;
    display: flex;
    overflow: hidden;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    height: 200px;
}
.parteFooter{
      padding: 20px;
      margin: 0 20px;
      border-left: 3px solid  #4bc091;
      height: 200px;
}
#logoFooter{
  border: 0;
  margin-top: 3.5%;
}
.parteFooter img{
    width: 125px;
    height: auto;


}
.parteFooter h6{
    color: #486a56;
    font-size: 35px;
    margin: 10px;
    text-align: center;

}
.parteFooter .About{
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    text-decoration: none;
    color: #78b18f;
    transition: .3s ease-in-out;
}
.parteFooter .About:hover{
    color: #27644a;
    font-size: 27px;
    text-decoration: underline;
}
.parteFooter .RedesSociales{
    padding-left: 15px;
    display: inline-block;
    margin-right: 5px;
    text-align: left;
      font-size: 30px;
      text-decoration: none;
      color:#78b18f;
      vertical-align: top;
}
.parteFooter .RedesSociales img{
    width: 30px;
    height: auto;
    margin-right: 10px;
    transition: .25s ease-in-out;
}
.parteFooter .RedesSociales img:hover{
    width: 33px;
    height: auto;
}
/*Aca termina el Footer*/

/* Este sera el dise침o responsivo para un ancho de 800px max*/
@media screen and (max-width:800px){
    .titulo{
      font-size: 35px;
    }
    .contenidoHeader{
        padding: 50px 0 0 0;
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
        margin-bottom: 10px;
    }
    .contenidoHeader img{
        width: 400px;
    }
    .textoHeader{

    }
    /*Cuerpo*/
    .Cuerpo{

    }
    .Cuerpo .contenedorArticulo .articulo{
      width: 40%;
    }
    /*Cuerpo 2*/
    .Cuerpo2 {
      height: 720px;
      justify-content: space-evenly;
      flex-direction: column;
    }
     .textoCuerpo2 p img{
      width: 400px;
    }
}


/* Este sera el dise침o responsivo*/

/*Aca empiezan los estilos de las cartillas
.Cartilla{
    background: #68c526;
    margin: 2.5%;
      width: 20%;

}
.Imagen{
  width: 100%;
  height: auto;

}
.Titulo{
  width: auto;
  color: #b7ff88;
  font-size: 1.25em;
  font-family: fantasy;
  /*border: 3px red dotted;
  margin: 0.5% 0;
  padding-left: 0.2em ;
  text-align: left;
  color: #314423;
}
.Contenido{
  margin-top: 0;
  font-size: 0.75em;
  text-align: justify;
  padding: 0.5% 3%;*/
